.container--app {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  /* border: 1px solid darkblue; */
  width: 700px;
  height: 500px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
.logo-img {
  display: block;
  width: 50px;
  height: 50px;
}

.row {
  /* border: 2px solid purple; */
  width: 100%;
}

.tab-canvas {
  width: 100px;
  height: 30px;
  /* border: 1px solid grey; */
}

.nav-tabs {
  float: left;
  width: 100%;
  margin: 0;
  list-style-type: none;
  /* border-bottom: 1px solid rgb(168, 162, 162); */
  padding-left: 0px;
  z-index: -1;
}
.nav-tabs > li {
  float: left;
  position: relative;
  margin-right: 2px;
  background-color: #0769a1;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: absolute;
  text-decoration: none;
  color: white;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  width: 98%;
  height: 98%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 1px solid white;
  border-bottom-color: transparent;
  /* box-shadow: inset 0px 5px 10px -20px rgb(61, 60, 60); */
}
.nav-tabs > li > a:hover {
  /* border-color: rgb(128, 127, 127);
  border-bottom-color: transparent; */
  background-color: #3f80a7;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: black;
  cursor: default;
  background-color: #81b0cc;
  border: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(168, 162, 162);
  border-bottom-color: transparent; */
}
.tab-content {
  float: left;
  width: 100%;
  /* border: 2px solid rgb(44, 173, 27); */
}
.tab-pane {
  display: none;
}
.tab-content > .tab-pane.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0px;
  background-color: #81b0cc;
  border-radius: 0px 5px 5px 5px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px rgb(61, 60, 60);
}
.tab-content > .active {
  display: block;
  height: 100%;
}

.full-canvas {
  width: 400px;
  height: 300px;
  border: 1px solid rgb(38, 38, 99);
  border-radius: 5px;
  background-color: #ffffff;
}

.canvas-input-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  /* border: 2px solid pink; */
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* border: 1px solid brown; */
}

.input-container {
  flex: 1;
  padding-left: 10px;
  padding-top: 10%;
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-end; */
  /* gap: 20px 0; */
}

.adjustable-input {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
}

.input-group {
  display: flex;
  margin: 5px;
  margin-right: 0px;
  justify-content: space-between;
  /* border: 2px solid darkmagenta; */
}

label {
  /* border: 1px solid green; */
  width: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

input {
  width: 50%;
  border: none;
  border-radius: 3px;
}

label + input {
  width: 50%;
  margin: 0 5% 0 4%;
}

output {
  /* border: 1px solid orange; */
  width: 50px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

button {
  background-color: rgb(0, 39, 124);
  color: white;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  transform: scale(1.01);
  /* box-shadow: 0 0 6px rgb(97, 96, 96); */
  cursor: pointer;
}

button:disabled {
  /* color: black; */
  box-shadow: inset 0 0 6px rgb(61, 60, 60);
  text-shadow: 0 0 6px rgb(48, 46, 46);
  background-color: rgb(184, 179, 179);
  cursor: pointer;
  transform: none;
  cursor: default;
}
